<ion-header class="ion-no-border">
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>

<ion-content>
  <!-- Inputs user e password -->
  <div id="container">
    <div>
      <p>Login</p>      
    </div>
    <form [formGroup]="form">
      <ion-item>        
        <ion-input placeholder="Usuario" type="text" formControlName="user"></ion-input>
        <ion-icon name="person-circle-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item transparent>        
        <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item>
      <!-- Botão entrar -->
      <ion-button class="btn-login" color="success" shape="round" (click)="goToInitial()">ENTRAR</ion-button>      
    </form>
  </div>

</ion-content>
