<ion-header class="ion-no-border">
  <div class="login-header ion-padding">
    <ion-buttons slot="start">
    <ion-back-button color="dark" text=""></ion-back-button>
    <img class="logo-img" src="assets/img/logo.png">
  </ion-buttons>        
  </div>
  <style>
    @import url('http://fonts.cdnfonts.com/css/billion-dreams');
  </style>              
</ion-header>

<ion-content>    
  <div id="container">
    <div>
      <p>Login</p>      
    </div>
    <!-- Inputs user e password -->
    <form [formGroup]="form">
      <ion-item>        
        <ion-input placeholder="Usuário" type="text" formControlName="user"></ion-input>
        <ion-icon name="person-circle-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item transparent>        
        <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item> 
      <div class="container py-3">     
      <ion-buttons>
        <ion-button color="dark" routerLink="/cadastro"><ion-icon name="person-add-outline" slot="start"></ion-icon>Cadastrar-se</ion-button> 
      </ion-buttons>
      </div>
      <!-- Botão entrar -->
      <ion-button class="btn-login" color="success" shape="round" [disabled]="!form.valid" (click)="goToInitial()">Entrar</ion-button>      
    </form>
       
  </div>
</ion-content>
