<ion-header class="header">
  <div class="header__content">
    <img class="header__logo" src="assets/img/logo.png">
    <h1 class="header__title">Produtos</h1>
    <ion-button class="header__exit" color="dark" (click)="exit()" fill="clear"><ion-icon name="exit" slot="icon-only"></ion-icon></ion-button>
  </div>
  <style>
    @import url('http://fonts.cdnfonts.com/css/billion-dreams');
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="subtitle">Faça o seu pedido:</h2>
  <ion-grid class="container">
    <ion-row *ngFor="let product of products"><!--Aplicar ngFor-->
      <ion-col>
        <ion-card mode="ios" class="card">
          <ion-card-header>
            <ion-card-title class="card__title">
              {{product.name}}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="card__description">
            <label>
              {{product.description}}
            </label>
          </ion-card-content>

          <ion-footer class="card__footer">
            <ion-card-title class="card__price">
              R${{product.price}}
            </ion-card-title>
            <ion-row class="card__row">
              <ion-col>
                <ion-button color="danger" (click)="diminuir(product,vTotal)" class="card__button">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-card-title class="card__qnt">
                  {{product.quantidade}}
                </ion-card-title>
              </ion-col>
              <ion-col>
                <ion-button color="success" (click)="aumentar(product,vTotal)" class="card__button">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-footer>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <h2 class="footer__subtitle">Total:&nbsp;</h2>
  <span class="footer__total">R${{vTotal.totalPrice}}</span>
  <!-- Botão confirmar compra -->
  <ion-button class="footer__botaoconfirm" color="success" (click)="finish()"><ion-icon name="checkmark-circle-outline" slot="icon-only"></ion-icon></ion-button>
</ion-footer>