<ion-header class="ion-no-border" [translucent]="true">
  <div class="initial-header ion-padding">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="titulo">Produtos</h3>
  <ion-grid class="container">
    <ion-row><!--Aplicar ngFor-->
      <ion-col>          
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title style="font-size: 15px;">
              {{products.name}}
            </ion-card-title>              
          </ion-card-header>
          <ion-card-content>        
            <label>R$ {{products.price}}</label>
          </ion-card-content>
          <ion-footer>              
            <ion-row><!--Aplicar ngFor-->
              <ion-col> 
                <ion-button color="danger"><ion-icon name="remove-outline"></ion-icon>
                </ion-button>                                    
              </ion-col>
              <ion-col> 
                <ion-input type="number" align="center" value="0" style="font-size: 20px;"></ion-input>
              </ion-col>
              <ion-col> 
                <ion-button color="success" ><ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-col>                
            </ion-row>           
          </ion-footer>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>  
  <div class="container">
    <ion-row>
      <ion-col>
      <p class="sub-titulo">Total:</p>
      </ion-col>
      <ion-col>
      <p class="total">R$</p>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
