@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}
.header {
  padding: 16px;
  display: flex;
  background-color: #FF5733;

  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);

  &__content {
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 36px;    
    font-family: "Billion Dreams", sans-serif;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__logo {
    height: 32px;
  }
  
}
.text-fnt{
  font-family: "Billion Dreams", sans-serif;  
}
.text-center{
  text-align: center;
}
