@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}
ion-content{
  --background: #000;
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  line-height: 22px;
  font-family: 'Billion Dreams', sans-serif;   
  font-size: 60px;
  color: #fff;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.home-header{
  background: #FF5733;
}
.home-header{
  position: relative;
  background: #FF5733;
  border-radius: 0em;
}
.home-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 0;
  height: 0; 
  margin-left: -15px;
  margin-bottom: -15px;
}
.logo-img{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; 
}

.btn-inicio{
  margin-top: 50px;
}